name: "windows"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build-and-test-windows:
    name: Build and Test (Windows)
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2

    - name: Update environment variables
      # See https://docs.bazel.build/versions/master/output_directories.html
      run: |
        echo "BAZEL_CACHE_DIR=$env:USERPROFILE\_bazel_$env:USERNAME" >> $env:GITHUB_ENV

    - name: Mount bazel cache
      # Note: Note that below the version is pinned to `v2.1.4`. This is due to
      # several path bugs. See:
      # https://stackoverflow.com/questions/66870002/github-actions-cache-maven-m2-repository-on-windows-environment-c-users-run
      uses: actions/cache@v2.1.4
      with:
        path: ${{ env.BAZEL_CACHE_DIR}}
        key: ${{ runner.os }}-bazel-${{ hashFiles('WORKSPACE.bazel') }}
        restore-keys: ${{ runner.os }}-bazel

    - name: Install bazelisk
      run: |
        powershell Invoke-WebRequest https://github.com/bazelbuild/bazelisk/releases/latest/download/bazelisk-windows-amd64.exe -OutFile bazel.exe

    - name: Build
      run: ./bazel.exe build -c opt //...

    - name: Test
      run: ./bazel.exe test -c opt //...
